<head>
    <link rel="stylesheet" type="text/css" href="css/indexcss.css">
    <link rel="stylesheet" type="text/css" href="css/showmorecontainer.css">
    <link rel="stylesheet" type="text/css" href="css/aboutme.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <script type="text/javascript" src="scripts/showmoreless.js"></script>
    <style>
        #button728184052567 {
            border: 1px dotted gray;
            position: absolute;
            height: 47px;
            width: 130px;
            left: 9.203125px;
            top: 89.421875px;
        }
    </style>
    <style>
        #div728184044144 {
            border: 1px dotted gray;
            position: absolute;
            width: 678px;
            height: 193px;
            left: 23.203125px;
            top: 619px;
        }
    </style>
    <style>
        a {
            color: inherit;
            text-decoration: none;
        }

    </style>
    <meta charset="utf-8">
    <title>Ben Hayward</title>
    <style>


    </style>
</head>
<body>
    <div class="intro" id="top">
        <div class="inner">
            <div class="center_image">
                <img src="images/title-transparent.png" alt="Ben Hayward">
            </div>
            <div class="content">
                <nav class="red">
                    <ul class="nav">
                        <li class="alignleft">
                            <a href="#aboutme">
                                ABOUT
                            </a></li>
                        <li class="aligncenter">
                            <a href="#portfoliofs">
                                PORTFOLIO
                            </a>
                        </li>
                        <li class="alignright">
                            <a href="#contactme">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="outeraboutme" id="outeraboutme">
        <aside class="leftbanner"></aside>
        <div class="page" id="aboutme">
            <div class="inner" id="inneraboutme">
                <div class="aboutme">
                    <hr>
                    <h3 class="title">About Me:</h3>
                    <hr>
                </div>
                <img src="images/methumbnail.png" class="photo">
                <p> Hi there! I am a 24 year old Computer Science graduate of Teesside University, currently based in Middlesbrough, and looking for new challenges to overcome in the field of software development. I have particular interest in Android and Web development, but am open to all areas of the software development industry, given time to learn and develop further. </p>

                <p>With the exception of programming, I am also a keen guitarist, DJ and have a secondary passion for music technology. At some point in the future I would like to find ways to combine these skills and my programming to create open-source VSTs and VSTis, so if anybody reading this is interested in working on anything, get in touch!. </p>


                <p>Some of my skills gained from University include:</p>
                <ul>
                    <li>ASP.NET C#, creating web applications, APIs, WCF Services etc.</li>
                    <li>Android/Java SE.</li>
                    <li>Database's with SQL, and SMSS. </li>
                    <li>HTML5/CSS3/Razor</li>
                    <li>Javascript; which I am learning properly with the creation of this website.</li>
                    <li>Ada for Embedded Systems; meeting the demands of critical real-time systems.</li>
                    <li>Linux; My primary boots are Ubuntu for work and Arch-Linux for fun, though I do still consider myself a novice compared to many Linux users. I am also skilled with Windows.</li>
                    <li>Azure/Cloud Hosting Platforms.</li>
                </ul>




            </div>
            <div class="showmorecontainer">
                <button class="fullw-green-button" id="showmore" onClick="toggleShowMore()">
                More...
            </button>
            </div>

        </div>
        <aside class="rightbanner"></aside>

    </div>
    <div class="portfoliofs" id="portfoliofs">
        <div class="portfolioinner">
        </div>
    </div>
	<div class="outeraboutme" id="outercontactform">
		<aside class="leftbanner"></aside>
		<div class="page" id="contactcontainer">
			<hr>

			<div class="inner" id="contactme">
				<form class = contactform name="contactform" method="post" action="../helpers/send_email.php">
					<table width="450px" class="contacttable">
						<tr>
							<td valign="center">
								<label for="first_name">First Name *</label>
							</td>
							<td valign="center">
								<input  class="inputBox" type="text" name="first_name" maxlength="50" size="30">
							</td>
						</tr>
						<tr>
							<td valign="center">
								<label for="last_name">Last Name *</label>
							</td>
							<td valign="center">
								<input  class="inputBox" type="text" name="last_name" maxlength="50" size="30">
							</td>
						</tr>
						<tr>
							<td valign="center">
								<label for="email">Email Address *</label>
							</td>
							<td valign="center">
								<input class="inputBox"  type="text" name="email" maxlength="80" size="30">
							</td>
						</tr>
						<tr>
							<td valign="center">
								<label for="telephone">Telephone</label>
							</td>
							<td valign="center">
								<input class="inputBox"  type="text" name="telephone" maxlength="30" size="30">
							</td>
						</tr>
						<tr>
							<td valign="top">
								<label for="comments">Comments *</label>
							</td>
							<td valign="center">
								<textarea class="inputBox"  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center">
								<input class="small-green-button" type="submit" value="Submit">
							</td>
						</tr>
					</table>
				</form>
				<hr>
				<div class="row">
					<div class="columns">
						<p class="thumbnail_align">
							<a href="http://www.github.com/bhayward93">
								<img src="images/github-round.png" alt="GitHub" class="thumbnail">
								<h4>GitHub</h4>
							</a>
						</p>

					</div>
					<div class="columns">
						<p class="thumbnail_align">
							<a href="https://www.linkedin.com/in/ben-hayward/">
								<img src="images/linkedin-icon.png" alt="LinkedIn" class="thumbnail">
								<h4>LinkedIn</h4>
							</a>
						</p>
					</div>
					<div class="columns">
						<p class="thumbnail_align">
							<a href="http://www.twitter.com/nemoben">
								<img src="images/twitter_circle_color-512.png" alt="Twitter" class="thumbnail">
								<h4>Twitter</h4>
							</a>
						</p>
					</div>
					<div class="columns">
						<p class="thumbnail_align">
							<a href="mailto:benhayward.ben@gmail.com">
								<img src="images/email.svg" alt="Email" class="thumbnail">
								<h4>Email</h4>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<aside class="rightbanner"></aside>
	</div>
    <footer class="secondary_header footer">
        <div class="copyright"><a href="#top">Back To Top</a></div>
        <div class="copyright">&copy;2017 - <strong>Ben Hayward</strong> </div>
    </footer>
</body>
